/* =========================
   HERO SECTION
========================= */

.bm {
    min-height: 100vh;

    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)
        ),
        url("../logo/IN-en-20260629-TRIFECTA-perspective_76b17e8c-cff9-4c65-9938-08ca5029be6b_large.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.big-image {
    width: 100%;
}

.big-image-content {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

.big-image-content h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 1.2;
}

.loot-paat {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.overconfidence {
    margin-top: 30px;
    font-size: 16px;
}


/* =========================
   EMAIL SECTION
========================= */

.email-section {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-input {
    width: 370px;
    height: 56px;

    padding: 0 16px;

    background: rgba(22, 22, 22, .7);
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 4px;

    color: white;
    font-size: 16px;
}

.email-input::placeholder {
    color: #b3b3b3;
}

.start-btn {
    height: 56px;
    padding: 0 28px;

    background: #ffffff;
    color: rgb(0, 0, 0);

    border-radius: 4px;

    font-size: 24px;
    font-weight: 600;

    transition: .2s;
}


/* =========================
   CURVED SEPARATOR
========================= */

.container-1 {
    position: relative;

    width: 100%;
    height: 70px;

    overflow: hidden;
}

.curved-line {
    position: absolute;

    top: 0;
    left: 50%;

    transform: translateX(-50%);

    width: 120%;
    height: 90px;

    border-top: 4px solid #e50914;
    border-radius: 50%;
}


/* =========================
   GRADIENT AREA
========================= */

.trends {
    position: absolute;

    inset: 0;

    overflow: hidden;
}

.horizontal-gradient {
    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(
        90deg,
        #000000 0%,
        #000000 25%,
        #5a32ff 50%,
        #000000 75%,
        #000000 100%
    );

    filter: blur(14px);
    opacity: .9;
}

.vertical-gradient {
    position: absolute;

    inset: 0;

    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, .4) 45%,
        #000 100%
    );
}


/* =========================
   TABLET - 768px
========================= */

@media (max-width: 768px) {

    .bm {
        min-width: none;
    }}