.faq-section {
    background: #000;
    padding: 70px 0;
}

.faq-section h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq-btn {
    width: 100%;
    background: #2d2d2d;

    color: white;
    padding: 24px;

    border: none;
    display: flex;

    justify-content: space-between;
    align-items: center;

    font-size: 24px;
    cursor: pointer;
    transition: 0.25s;
}

.faq-btn:hover {
    background: #414141;
}

.plus {
    font-size: 50px;
    font-weight: 200;
}

.faq-section .overconfidence-again {
    margin-top: 60px;
    text-align: center;
}

.faq-section .jcpshbhufkb {

    justify-content: center;

}

.footer {
    background: #000;
    padding: 60px 8%;
}

.qc {
    color: #b3b3b3;
    margin-bottom: 30px;
}

.qc a {
    color: #b3b3b3;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 18px;
    margin-bottom: 30px;
}

.footer-links a {
    color: #b3b3b3;
    font-size: 14px;
}

.language {
    background: transparent;
    color: white;

    padding: 10px 18px;
    border: 1px solid gray;
    border-radius: 5px;
}

.nfi {
    color: #b3b3b3;
    margin: 50px 0 50px 0;
}

.protection {
    color: #737373;
    font-size: 13px;
  
    max-width: 350px;
    line-height: 20px;
}

.select-box {
    margin-bottom: 25px;
}

@media (max-width:768px) {

    .faq-section {
        padding: 50px 0;
    }

    .faq-section h2 {
        font-size: 28px;
    }

    .faq-btn {
        font-size: 20px;
        padding: 20px;
    }

    .plus {
        font-size: 40px;
    }

    .footer {
        padding: 50px 20px;
    }

    .footer-links {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width:576px) {

    .faq-section {
        padding: 40px 0;
    }

    .faq-section h2 {
        font-size: 24px;
    }

    .faq-btn {
        padding: 18px;
        font-size: 18px;
    }

    .plus {
        font-size: 34px;
    }

    .jcpshbhufkb {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-links {
        grid-template-columns: 1fr;
        gap: 14px;
    }

    .footer-links a {
        font-size: 14px;
    }

    .nfi {
        margin: 30px 0;
    }
}

@media (max-width:400px) {

    .faq-btn {
        font-size: 16px;
        padding: 16px;
    }

    .plus {
        font-size: 30px;
    }
}